body
{
	background:#a0beca;
	}
footer p 
{
	text-align: center; 
	font-size: 17px;
	color: #888;
	margin-top: 24px;
}
#header
{
	background: #838283;
	height: 300px;
	width: 1000px;
}
#map
{
	height:340px;
	width:340px;
	float:left; 
}
#chart
{
	height:400px;
	width:1000px;
	float:right;
}
#found
{
	width:340px; 
	float:right;
}
#Descriptions
{
	min-height:50px;
}
#Name h4{  
    background: #a8c4c0;
    background: -moz-linear-gradient(top,  #a8c4c0 0%, #7aa5a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8c4c0), color-stop(100%,#7aa5a2));
    background: -o-linear-gradient(top,  #a8c4c0 0%,#7aa5a2 100%);
    background: -ms-linear-gradient(top,  #a8c4c0 0%,#7aa5a2 100%);
    background: linear-gradient(top,  #a8c4c0 0%,#7aa5a2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8c4c0', endColorstr='#7aa5a2',GradientType=0 );
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    padding: 0 20px;  
    line-height: 50px;
    height: 50px;
    margin-top: 5px; 
    margin-left: -35px;  
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
    color: #3b3a3b;  
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);  
}  
/* Стили для кнопки отправить */
#btn {
    width: 138px;
    height: 44px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float:right;
    border: 1px solid #253737;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -ms-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}
#btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
    background: -webkit-linear-gradient(top, #77b2b0, #416b68);
    background: -moz-linear-gradient(top, #77b2b0, #416b68);
    background: -ms-linear-gradient(top, #77b2b0, #416b68);
    background: -o-linear-gradient(top, #77b2b0, #416b68);
    background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
    color: #fff;
 }
#btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #333333;
    background: #ffCC00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffCC00), to(#ff6600));
    background: -webkit-linear-gradient(top, #ffcc00, #ff6600);
    background: -moz-linear-gradient(top, #ffcc00, #ff6600);
    background: -ms-linear-gradient(top, #ffcc00, #ff6600);
    background: -o-linear-gradient(top, #ffcc00, #ff6600);
    background-image: -ms-linear-gradient(top, #ffcc00 0%, #ff6600 100%);
    color: #fff;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    outline: none;
}
/* Базовый стиль формы */
#form {
	width: 290px;
	padding: 24px 24px 0;
	background: #FEFEFE;
  	border: 1px solid #CAD8DE;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.08);
	font: 14px/18px Arial, Tahoma, sans-serif;
	color: #444;
}
#chartSetting
 {
	float:left;
}
#form .pole {
	margin: 0 0 18px;
}	
#form .pole label {
	display: block;
	margin: 0 0 11px;
}
#form .pole .input {
  	border-radius: 4px;
}
#form .pole input {
  	font: 12px Arial, Tahoma, sans-serif;
	color: #444;
	width: 262px;
	padding: 9px 13px;
  	border: 1px solid #D2D9DC;
	border-radius: 3px;
	box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
	outline: none;
}
#form .pole select {
  	font: 12px Arial, Tahoma, sans-serif;
	color: #444;
	width: 290px;
	padding: 9px 13px;
  	border: 1px solid #D2D9DC;
	border-radius: 3px;
	box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
	outline: none;
}
#form .pole input:focus {
	border-color: #B7D4EA;
	box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
}
#form .sub {
	overflow: hidden;
	margin: 30px -24px 0;
	padding: 22px 24px;
	background: #F0F5F7;
	border-top: 1px solid #DDE0E8;
	border-radius: 0 0 4px 4px;
	box-shadow: inset 0 1px #FFF, inset -1px -1px #F7FAFB, inset 1px 0 #F7FAFB;
  	font-size: 11px;
}
#found .help {
	overflow: hidden;
	padding: 22px 24px;
	background: #F0F5F7;
	border: 1px solid #CAD8DE;
	border-top: 1px solid #DDE0E8;
	border-radius: 0 0 4px 4px;
	box-shadow: inset 0 1px #FFF, inset -1px -1px #F7FAFB, inset 1px 0 #F7FAFB;
  	font-size: 11px;
}
#found .help button {
	float: right;
	padding: 6px 20px;
	height: 30px;
  	border-top: 1px solid #98CCE7;
  	border-bottom: 1px solid #7DB0CC;
  	border-left: 1px solid #8CBFD9;
  	border-right: 1px solid #8CBFD9;
  	border-radius: 15px;
	color: #FFF;
  	font: bold 13px Arial, Tahoma, sans-serif;
	box-shadow: inset 0 1px #D4EBF7, 0 1px 3px #B8BEBE;
	background: -moz-linear-gradient(top,  #badff3 0%, #7acbed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#badff3), color-stop(100%,#7acbed));
	background: -webkit-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: -o-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: -ms-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background-color: #9FD7F0;
	cursor: pointer;
	text-shadow: 0 -1px rgba(0,0,0,0.15);
	outline: none;
}
#form .sub button {
	float: right;
	padding: 6px 20px;
	height: 30px;
  	border-top: 1px solid #98CCE7;
  	border-bottom: 1px solid #7DB0CC;
  	border-left: 1px solid #8CBFD9;
  	border-right: 1px solid #8CBFD9;
  	border-radius: 15px;
	color: #FFF;
  	font: bold 13px Arial, Tahoma, sans-serif;
	box-shadow: inset 0 1px #D4EBF7, 0 1px 3px #B8BEBE;
	background: -moz-linear-gradient(top,  #badff3 0%, #7acbed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#badff3), color-stop(100%,#7acbed));
	background: -webkit-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: -o-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: -ms-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background-color: #9FD7F0;
	cursor: pointer;
	text-shadow: 0 -1px rgba(0,0,0,0.15);
	outline: none;
}
#next>disabled
{
	color: #000000;
}
#next
{
	margin: 0 0 0 85px;
}
#prev
{
	margin: 0 85px 0 0;
}
.buttonnavigation 
{
	border-radius: 5px;
	font-size: 10px;
	padding: 5px 30px;
	cursor: pointer;
	color: #fff;
	background: -webkit-linear-gradient(top,  #a8c4c0 0%,#7aa5a2 100%);
	font-size: 1.0rem;
	font-family: 'Roboto';
	font-weight: 100;
	border: 1px solid #fff;
	box-shadow: 2px 2px 5px #F0F5F7;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
}
.buttonhelp 
{
	border-radius: 5px;
	font-size: 10px;
	padding: 10px 125px;
	margin-top: 10px;
	cursor: pointer;
	color: #fff;
    background: -webkit-linear-gradient(top,  #a8c4c0 0%,#7aa5a2 100%);
	font-size: 1.4rem;
	font-family: 'Roboto';
	border: 1px solid #fff;
	box-shadow: 2px 2px 5px #F0F5F7;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
}
.list
{
	background-color:white;
	width:660px;
	float:left;
	height:auto;
}
.vacancies
{
   background: #F0F5F7;  
   /*margin-left: 15px;*/
   //margin-bottom:10px;
   display: block;
   width: 620px;
   min-height: 180px;
   padding:10px;  
   border-radius: 10px;
   float:left;
}
.find
{
   background: #dad3cb;  
   margin-left: 15px;
   margin-bottom:10px;
   display: block;
   width: 320px;
   min-height: 210px;
   padding:10px;  
   border-radius: 10px;
}
.vacancies div
{
	border-radius: 10px;
}
/* Всплывающее окно */	
.parent_popup, .parent_popup_click {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.popup, .popup_click { 
    background: #fff;
    max-width: 600px;
    width:70%;
    margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border: 10px solid #ddd;
	position: relative;
	/*--CSS3 CSS3 Тени для Блока--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 Закругленные углы--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.container 
{
	margin: 0px auto;
	width: 1000px;
	background:white;
	border-radius: 20px;
	padding:10px;
}
.contain
{
	margin: 0px auto;
	background:white;
}
.popup h2, .popup_click h2 
{
    font:28px Monotype Corsiva, Arial;
    font-weight: bold;
	text-align: center;
	color: #008000;
	text-shadow: 0 1px 3px rgba(0,0,0,.3);
	}
.popup h3, .popup_click h3 
{
    font:24px Monotype Corsiva, Arial;      
	color: #008000;
	text-align: left;
	text-shadow: 0 1px 3px rgba(0,0,0,.3);
}
/* кнопка закрытия */
.close
 {
    background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid #ccc;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: -24px;
	cursor: pointer;
    text-align: center;
    text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-family: helvetica, arial;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    top: -24px;
    width: 24px;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover
{
    background-color: rgba(255, 69, 0, 0.8);
}
#charts select {
    border-radius: 0;
    background: transparent;
    height: 64px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 268px;
  }
.panel
{
	height:60px;
	width :620px;
	background: #F0F5F7;  
    display: block;
    padding:10px;  
    border-radius: 10px;
    float:left;
	margin-bottom:10px;
}

.wrap {
height: 400px;
margin: 50px auto 0;
position: relative;
width: 600px;
}
/*Скрываем радиокнопки*/
.wrap > input {
display: none;
}
.slider {
background-color: #333;
height: inherit;
overflow: hidden;
position: relative;
width: inherit;
}
.slides {
height: inherit;
opacity: 0;
position: absolute;
width: inherit;
z-index: 0;
}
.img1 { background-image: url(image/help1.png); }
.img2 { background-image: url(image/help2.png); }
.img3 { background-image: url(image/help3.png); }
.wrap .control {
position: absolute;
margin-left: -50px;
left: 50%;
}
.wrap label {
cursor: pointer;
display: inline-block;
height: 8px;
margin: 10px;
position: relative;
width: 8px;
border-radius: 20%;
}
.wrap label:after 
{
border: 2px solid #7aa5a2;
content: " ";
display: block;
height: 12px;
left: -4px;
position: absolute;
top: -4px;
width: 12px;
border-radius: 20%;
}
#point1:checked ~ .control label:nth-of-type(1),
#point2:checked ~ .control label:nth-of-type(2),
#point3:checked ~ .control label:nth-of-type(3) {
background: #7aa5a2;
}
#point1:checked ~ .slider > .img1,
#point2:checked ~ .slider > .img2,
#point3:checked ~ .slider > .img3 {
opacity: 1;
z-index: 1;
}
.Downloadfile
{
border-radius: 5px;
	font-size: 10px;
	padding: 10px 84px;
	cursor: pointer;
	color: #fff;
    background: -webkit-linear-gradient(top,  #a8c4c0 0%,#7aa5a2 100%);
	font-size: 1.4rem;
	font-family: 'Roboto';
	border: 1px solid #fff;
	box-shadow: 2px 2px 5px #F0F5F7;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
}